.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around; 
}

.loader {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
}

.error {
  position: fixed;
  top: 30%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}