body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.container {
  width: 1010px;
  min-height: 100vh;
  background-color: #ffffff;
}